/* GLOBAL  */

.ml-bg-black{
  background-color: black;
}

.ml-bg-darkblue{
  background-color: #161C3B;
}

.ml-bg-blue {
  background-color: blue;
}

.ml-bg-rgba{
  background-color: rgba(0, 0,0, .5);
}

.ml-width-100px{
  width: 100px;
}

.ml-width-120px{
  width: 120px;
}

.ml-width-140px{
  width: 140px;
}

.ml-width-200px{
  width: 200px;
}

.ml-width-100per100{
  width: 100%;
}

.ml-border-radius-30px{
  border-radius: 30px;
}

.ml-mt-100px{
  margin-top: 100px;
}

.ml-filter{
  filter: brightness(1000%) sepia(100%) saturate(100%) hue-rotate(0deg);
}

/* button_orange  */

.ml-btn{
  background-color: #CD3D0F;
  border-color: #CD3D0F ;
  border-radius: 30px;
  color: white;
  padding: 7px 1px;
}

.ml-btn span{
 border: 2px solid transparent;
 padding: 5px 20px;
 border-radius: 30px;
 transition: border 1s;
}

.ml-btn:hover span{
 border: 2px solid black;
}

/* button_white  */

.ml-btn-white{
  background-color: #D9DADC;
  border:2px solid #D9DADC ;
  border-radius: 30px;
  color: rgb(70, 70, 226);
  padding: 7px 1px;
  transition: border 1s;
}

.ml-btn-white span{
  border: 2px solid transparent;
  padding: 5px 20px;
  border-radius: 30px;
  transition: border 1s;
 }

.ml-btn-white:hover {
 border: 2px solid #C6C5C5;
 color: rgb(70, 70, 226);
}

/* button_white2  */

.ml-btn-white2{
  background-color: #D9DADC;
  border-color: #D9DADC;
  border-radius: 30px;
  color: black;
  padding: 7px 1px;
}

.ml-btn-white2 span{
 border: 2px solid transparent;
 padding: 5px 20px;
 border-radius: 30px;
 transition: border 1s;
}

.ml-btn-white2:hover span{
 border: 2px solid black;
}

/* button_black  */

.ml-btn-black{
  background-color: #363636;
  border-color: #363636;
  border-radius: 30px;
  color: white;
  padding: 7px 1px;
}

.ml-btn-black span{
 border: 2px solid transparent;
 padding: 5px 20px;
 border-radius: 30px;
 transition: border 1s;
}

.ml-btn-black:hover span{
 border: 2px solid white;
}

/* button_blue  */

.ml-btn-blue{
  background-color:#2D64E6;
  border-color: #2D64E6;
  border-radius: 30px;
  color: white;
  padding: 7px 1px;
}

.ml-btn-blue span{
 border: 2px solid transparent;
 padding: 5px 20px;
 border-radius: 30px;
 transition: border 1s;
}

.ml-btn-blue:hover span{
 border: 2px solid white;
}




/* NAV  */

nav{
  position: fixed;
  top: 0;
  z-index: 999;
}

 .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .show > .nav-link:hover {
  color: blue;
} 

.nav-link{
  color: black;
}

.nav-link:hover{
  color: blue;
}

.dropdown-menu[data-bs-popper] {
  left: -260px;
}

.dropdown-menu {
  min-width: 100vw;
}

.dropdown-menu .row ul li a {
  color: black;
  text-decoration: none;
  padding: 0 10px;
}
/* HEADER  */

header{
  background-image: url('../img/jumbo-bg.png');
  background-size:cover;
  background-position: center;
  width: 100%;
  min-height: 500px;
  margin-top: 105.383px;
}

header .container .row .col img{
  width: 300px;
}

/* MAIN  */

/* section_uno */

main section.uno .container .row .col img{
  border:2px solid transparent;
  transition: all 1s;
}

main section.uno .container .row .col:hover img{
  border:2px solid lightseagreen;
}

/* section_quattro */

main section.quattro .container .row .col-4 {
  filter: opacity(.8);
  border-bottom:2px solid transparent;
  transition: all 1s;
}

main section.quattro .container .row .col-4:hover {
  filter: opacity(1);
  border-bottom:2px solid lightseagreen;
}

main section.quattro .container .row .col-4 p{
  position: relative;
 }

main section.quattro .container .row .col-4 p span{
 font-size: 7px;
 position: absolute;
 bottom: 8px;
}

/* section_cinque  */

section.cinque{
  background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
  background-size:cover;
  background-position: center;
  width: 100%;
  min-height: 500px;
  margin-top: 105.383px;
}

section.cinque .container .row .col img{
  width: 250px;
}

/* section_sei  */


main section.sei .container .row .col p span{
 font-size: 7px;
 
}

/* FOOTER  */

footer .container .row .col-12 ul li a{
  color: white;
  text-decoration: none;
  list-style-type: none;
}
footer .container .row .col-12 ul {
  
  list-style-type: none;
}


/* MEDIA QUERY  */

@media (min-width:768px) {
  .ml-col-md{
    width: calc(100% / 5);
  }
}

@media (min-width:1400px) {
  .ml-pr-xxl{
    padding-right: 60%;
  }
}
