/* GLOBAL  */

.ml-bg-black{
  background-color: black;
}

.ml-width-100px{
  width: 100px;
}

.ml-width-120px{
  width: 120px;
}

.ml-width-200px{
  width: 200px;
}

.ml-width-100per100{
  width: 100%;
}

.ml-border-radius-30px{
  border-radius: 30px;
}

.ml-mt-100px{
  margin-top: 100px;
}

.ml-btn{
  background-color: #CD3D0F;
  border-color: #CD3D0F ;
  border-radius: 30px;
  color: white;
  padding: 7px 1px;
}

.ml-btn span{
 border: 2px solid transparent;
 padding: 5px 20px;
 border-radius: 30px;
 transition: border 1s;
}

.ml-btn:hover span{
 border: 2px solid black;
}



/* NAV  */

nav{
  position: fixed;
  top: 0;
  z-index: 999;
}

/* HEADER  */

header{
  background-image: url('../img/jumbo-bg.png');
  background-size:cover;
  background-position: center;
  width: 100%;
  min-height: 500px;
  margin-top: 105.383px;
}

header .container .row .col img{
  width: 300px;
}

/* MAIN  */

/* section_uno */

main section.uno .container .row .col img{
  border:2px solid transparent;
  transition: all 1s;
}

main section.uno .container .row .col:hover img{
  border:2px solid lightseagreen;
}

/* section_quattro */

main section.quattro .container .row .col-4 {
  filter: opacity(.8);
  border-bottom:2px solid transparent;
  transition: all 1s;
}

main section.quattro .container .row .col-4:hover {
  filter: opacity(1);
  border-bottom:2px solid lightseagreen;
}

main section.quattro .container .row .col-4 p{
  position: relative;
 }

main section.quattro .container .row .col-4 p span{
 font-size: 7px;
 position: absolute;
 bottom: 8px;
}

/* section_cinque  */

section.cinque{
  background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
  background-size:cover;
  background-position: center;
  width: 100%;
  min-height: 500px;
  margin-top: 105.383px;
}

section.cinque .container .row .col img{
  width: 250px;
}

/* section_sei  */


main section.sei .container .row .col p span{
 font-size: 7px;
 
}


/* MEDIA QUERY  */

@media (min-width:768px) {
  .ml-col-md{
    width: calc(100% / 5);
  }
}

@media (min-width:1400px) {
  .ml-pr-xxl{
    padding-right: 60%;
  }
}
